<form fxLayout="row" fxLayoutAlign="center none">
  <md-card>
    <md-card-header>
      <md-card-title>Вход в систему</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container>
        <input mdInput placeholder="username" [(ngModel)]="username" name="username"
               #name="ngModel">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="password" [(ngModel)]="password" name="password" type="password"
               #name="ngModel">
      </md-input-container>
    </md-card-content>
    <md-card-actions>
      <button md-button type="submit" (click)="onSubmit()">Вход</button>
    </md-card-actions>
  </md-card>
</form>
