<div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="center baseline" fxLayoutGap="5px">
  <md-card fxFlex="50">
    <md-card-title>Меню:</md-card-title>
    <md-card-content>
      <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="5px">
        <md-card *ngFor="let card of linkedRateCards" fxLayout="row" fxLayoutAlign="center baseline">
          <span fxFlex>{{card.name}}</span>
          <button fxFlex="10" md-button (click)="removeCard(card)">
            <md-icon>remove_circle_outline</md-icon>
          </button>
        </md-card>
      </div>
    </md-card-content>
  </md-card>

  <md-card fxFlex="50">
    <md-card-title>Добавить меню:</md-card-title>
    <md-card-content>
      <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="5px">
        <md-card *ngFor="let card of notLinkedRateCards" fxLayout="row"
                 fxLayoutAlign="center baseline" fxLayoutGap="5px">
          <span fxFlex>{{card.name}}</span>
          <button fxFlex="10" md-button (click)="addRateCard(card)">
            <md-icon>add_circle_outline</md-icon>
          </button>
        </md-card>
      </div>
    </md-card-content>
  </md-card>
</div>
