<div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="5px">
  <div fxLayout="row" fxLayoutAlign="center none">
    <md-card>
      <md-card-title>{{orderModel.name}}</md-card-title>
      <md-card-content>
        <md-list>
          <md-list-item>Создатель: {{orderModel.owner.username}}</md-list-item>
          <md-list-item>Общая сумма: {{getOrderTotalSum() | number:'1.2-2'}}</md-list-item>
        </md-list>
      </md-card-content>
      <md-card-actions>
        <a *ngIf="isOwner()" md-button [routerLink]="['/orders', orderModel.id, 'edit']">Редактировать заказ</a>
        <a md-button [routerLink]="['/orders', orderModel.id, 'edit-positions']">Редактировать позиции</a>
      </md-card-actions>
    </md-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap.lt-xl="5px">
    <ot-grouped-positions fxFlex="50" [groupedPositions]="groupedPositions"
                          [totalSum]="getOrderTotalSum()"></ot-grouped-positions>

    <ot-customers-stats fxFlex="50" [customersStats]="customersStats"
                        [totalSum]="getOrderTotalSum()"></ot-customers-stats>
  </div>
</div>
