<div fxLayout="row" fxLayoutAlign="center none">
  <form fxFlex="80%">
    <md-card>
      <md-card-title>Редактирование заказа</md-card-title>
      <md-tab-group>
        <md-tab label="Основное">
          <md-card fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center baseline">
            <md-input-container>
              <input mdInput placeholder="Название" [(ngModel)]="orderModel.name" name="order_model_name"
                     #name="ngModel">
            </md-input-container>

            <span *ngIf="invitationToken">Приглашение:
                <a [routerLink]="['/orders', orderModel.id, 'invite', invitationToken]">пригласить</a>
              </span>
            <button md-button *ngIf="!invitationToken" (click)="requestInvitationToken()">Получить приглашение</button>
          </md-card>
        </md-tab>
        <md-tab label="Меню">
          <ot-order-rate-cards-manager [orderModel]="orderModel"></ot-order-rate-cards-manager>
        </md-tab>
        <md-tab label="Участники">
          <ot-order-participant-manager [orderModel]="orderModel"></ot-order-participant-manager>
        </md-tab>
      </md-tab-group>
      <md-card-actions >
        <button md-button type="submit" (click)="onSubmit()">Сохранить</button>
      </md-card-actions>
    </md-card>
  </form>
</div>
